<!DOCTYPE html>
html
    head
        title Page title
    body
        header.header
        h1 Hello Gulp!
        main.main Page body
            h1 Main block
            img(src='assets/images/gulp.png' alt='')
        footer.footer Footer block

        script(src='assets/scripts/app.min.js')