.input-checkbox-color {
    &__color {
        display: none;
    }

    &__circle {
        height: 36px;
        width: 36px;
        border: 1px solid color('gray');
        display: inline-block;
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 50%;
    }

    [type=checkbox]:checked + span:before {
        position:absolute;
        display:block;
        content:' ';
        top:50%;
        left:50%;
        width:10px;
        height: 8px;
        margin-top:-5px;
        margin-left:-6px;
        background:url("../images/check.svg") no-repeat center
      }
}