mixin input-checkbox-color(name, color)
    label.input-checkbox-color
            input.input-checkbox-color__color(type='checkbox' name=name)
            span.input-checkbox-color__circle(style= 'background: ' + color)= label